@import "normalize.css"

body
    max-width: 50em
    margin: 0 auto
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    font-size: 1.2em
    line-height: 1.6em
    color: #333



form
    display: none;
    margin-bottom: 20px

formset
    display: block

input
    margin-bottom: 10px 

label
    display: block
    text-align: center

textarea, input[type="text"]
    font-family: monospace

textarea
    width: 50%
    line-height: 1em
    font-size: 0.8em;
    min-height: 200px;
    
// Hide and Show Forms
#show-plain:checked
    & ~ #plain-text
        display: block;

#show-remote:checked
    & ~ #remote
        display: block

#show-file:checked
    & ~ #file-upload
        display: block

.code
    background: #eee
    font-size: 0.8em;
    line-height: 1em;
    padding: 1rem;
    




// Utility
.visuallyhidden
  position: absolute
  overflow: hidden
  clip: rect(0 0 0 0)
  height: 1px
  width: 1px
  margin: -1px
  padding: 0
  border: 0
  

.clickable
    background: #eee
    cursor: pointer
